:root {
  --blue: #0851D8;
  --yellow: #FED204;
  --pink: #FF88C0;
  --orange: #FF5E31;
  --mint: #31DCB4;

  --black: #000000;
  --white: #FFFFFF;

  --off-white: #F7F6F2;
  --gray: #666661;
  --light-gray: #E8E7E2;
}